#-guacamole.properties
guacd-hostname: localhost
guacd-port: 4822
skip-if-unavailable: ldap
available-languages: en
mysql-hostname: {{ db_endpoint }}
mysql-port: 3306
mysql-database: {{ db_dbname }}
mysql-username: {{ db_username }}
mysql-password: {{ db_password }}
