##Checks
vrrp_script chk_pg-px {
  script "/root/vrrp_chk.sh"
  interval 10
  weight 2
}

{% if 'enpx01' in group_names %}
## master
vrrp_instance app_vvrp {
    state MASTER
    interface eth1
    {% for i in groups['enpx01'] %}
##    interface {{ hostvars[i]['ansible_default_ipv4']['interface'] }}
    {% endfor %}

    virtual_router_id 50
    priority 100
    advert_int 1
    authentication {
        auth_type AH
        auth_pass A277jf991Xzy
    }
    virtual_ipaddress {
    {{ virt_ip }}
    }
    track_script {
    chk_pg-px
    }
}
{% endif %}

{% if 'enpx02' in group_names %}
## virt-backup
vrrp_instance app_vvrp {
    state BACKUP
    interface eth1
    {% for i in groups['enpx02'] %}
##    interface {{ hostvars[i]['ansible_default_ipv4']['interface'] }}
    {% endfor %}

    virtual_router_id 50
    priority 99
    advert_int 1
    authentication {
        auth_type AH
        auth_pass A277jf991Xzy
    }
    virtual_ipaddress {
    {{ virt_ip }}
    }
    track_script {
    chk_pg-px
    }
}
{% endif %}
