# define certificate
global(DefaultNetStreamDriverCAFile="/etc/ssl/rsyslog-ca")

# ruleset to forward recieved messages onto rsyslog server encrypted
ruleset(name="sendRemote") {
  action(type="omfwd" 
    queue.filename="fwdRule1"
    queue.maxdiskspace="1g"
    queue.saveonshutdown="on"
    queue.type="LinkedList"
    action.resumeRetryCount="-1"
    target="gbrlog001.asme.cloud" 
    port="6514" 
    protocol="tcp"   
    StreamDriver="gtls" 
    StreamDriverMode="1" 
    StreamDriverAuthMode="anon"
  )
}

# provides TCP syslog reception and applies ruleset to forward messages recieved on port 1514
module(load="imtcp")
input(type="imtcp" port="601" ruleset="sendRemote")

# send local logs to rsyslog server encrypted - default ruleset
*.* action(type="omfwd" 
  queue.filename="fwdRule1"
  queue.maxdiskspace="1g"
  queue.saveonshutdown="on"
  queue.type="LinkedList"
  action.resumeRetryCount="-1"
  target="gbrlog001.asme.cloud" 
  port="6514" 
  protocol="tcp"   
  StreamDriver="gtls" 
  StreamDriverMode="1" 
  StreamDriverAuthMode="anon")

