#!/bin/bash

if ! mysqladmin -u root status &>/dev/null; then
  echo "Mariadb not ready - should failover"; exit 1
fi

if ! /usr/bin/squidclient -h localhost cache_object://localhost/ mgr:info &>/dev/null; then
  echo "Squid not ready - should failover"; exit 1
fi

